# AWS SDK
boto3

# Data handling
pandas
numpy
tabulate

# Web scraping
requests
beautifulsoup4
lxml

# Notebook execution & pipeline
jupyter
ipykernel
nbformat
nbconvert
papermill

# Visualization
matplotlib
seaborn
